version: '3.5'
services:
  kafka-1:
    image: debezium/kafka
    ports:
      - "9092:9092"
      - "9093:9093"
    environment:
      - CLUSTER_ID=oh-sxaDRTcyAr6pFRbXyzA
      - BROKER_ID=1
      - KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka-1:9093
    volumes:
      - /home/users/mkociszewski/Pobrane/magisterka/kafka/data:/kafka/data
      - /home/users/mkociszewski/Pobrane/magisterka/kafka/logs:/kafka/logs

#services:
#  zookeeper:
#    image: wurstmeister/zookeeper
#    ports:
#      - "2181:2181"
#  kafka-1:
#    image: wurstmeister/kafka
#    ports:
#      - "9092:9092"
#    environment:
#      DOCKER_API_VERSION: 1.22
#      KAFKA_ADVERTISED_HOST_NAME: 172.17.0.1
#      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
#    volumes:
#      - /home/users/mkociszewski/Pobrane/magisterka/kafka/data:/kafka
#      - /home/users/mkociszewski/Pobrane/magisterka/kafka/logs:/opt/kafka/logs
#      - /var/run/docker.sock:/var/run/docker.sock

#POLECONKA
#kafka-topics.sh --create --topic test --zookeeper 172.17.0.1:2181 --partitions 1 --replication-factor 1
#kafka-console-producer.sh --topic test --broker-list 172.17.0.1:9990
#kafka-console-consumer.sh --topic test --bootstrap-server 172.17.0.1:9990 --from-beginning
#docker-compose exec kafka-1 bash -c "/kafka/bin/kafka-topics.sh --bootstrap-server kafka-1:9092 --list | wc -l"
